---
import Collaborate from "../../components/common/Collaborate.astro";
import Portfolio from "../../components/home/Portfolio.astro";
import HeroPortfolio from "../../components/portfolios/HeroPortfolio.astro";
import Layout from "../../layouts/Layout.astro";
import CollabPic from "../../assets/collab-mobile.png";
import Image from "astro/components/Image.astro";
import WorkGrid from "../../components/work/WorkGrid.astro";
import Testimonials from "../../components/common/Testimonials.astro";
import CaseStudyHeader from "../../components/work/case-study/CaseStudyHeader.astro";
---

<Layout title="Green Nest - Case Study  - Nixxon Australia">
    <div class="our-services h-20"></div>
    <CaseStudyHeader />
</Layout>
